<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<!-- <app-dom-view></app-dom-view>
 <app-totdlist></app-totdlist>
<app-make></app-make>
 <app-news></app-news>
 <app-home></app-home>
 <app-login></app-login> -->
<!-- 父子组件通信传值 -->
 <!-- <app-father></app-father> -->
 <!-- <button (click)="changeMsg()">生命周期</button> -->
 <!-- rjx -->
 <!-- <app-request></app-request> -->
 <!-- axios -->
 <!-- <app-getjson></app-getjson> -->
 <!-- 路由  gei传值 -->
<h3>路由</h3>
<ul>
   <li>
     <a [routerLink]="[ '/class' ]" routerLinkActive="active">class</a>
   </li>
   <li>
      <a [routerLink]="[ '/about' ]" routerLinkActive="active">about</a>
    </li>
    <li>
      <a [routerLink]="[ '/trolley' ]" routerLinkActive="active">trolley</a>
    </li>
 </ul>
 <router-outlet></router-outlet>
<!-- 加载user自定义模块  项目不大不建议使用自定义模块 相当于把模块当成一个组件来使用-->
<!-- <app-user></app-user>
<a [routerLink]="[ '/user' ]">用户模块</a> |
<a [routerLink]="[ '/article' ]">商品模块</a> |
<a [routerLink]="[ '/product' ]">文章模块</a> |
<router-outlet></router-outlet> -->
<!-- 使用自定义模块 实现路由懒加载  
   否则页面过多会导致webpack打包异常的大，造成进入首页时，需要加载的内容过多，时间过长，会出啊先长时间的白屏，即使做了loading也是不利于用户体验-->
<!-- 手机端访问 ng serve --host 192.168.5.2 -->
